<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Template:Item - Elemental Unleash Wiki</title>
  <link rel="stylesheet" href="/style/style.css" />
</head>
<body>
  <div class="page">
    <h1>Template:Item</h1>
    <div class="content">
      <table class="infobox">
        <tr>
          <th colspan="2" style="color:#063b5e; font-size:120%; padding:0.5em; line-height:17px">Template:Item</th>
        </tr>
        <tr style="text-align:center">
          <td colspan="2" style="padding:0.5em; position:relative;">
            <div style="position: absolute; right:10px; bottom:0;">
              <table style="text-align:center; background:none">
                <tr>
                  <td>
                    <a href="https://terraria.gamepedia.com/Autoswing" title="Autofire"><img alt="Autofire" src="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/0/0b/Auto_icon.png/18px-Auto_icon.png?version=302a9401e78a38cefd7c01087e402517" width="18" height="17" srcset="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/0/0b/Auto_icon.png/27px-Auto_icon.png?version=302a9401e78a38cefd7c01087e402517 1.5x, https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/0/0b/Auto_icon.png/36px-Auto_icon.png?version=302a9401e78a38cefd7c01087e402517 2x"></a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span title="Max Stack: 99" style="cursor:pointer">
                      <img alt="Stack digit 9.png" src="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/5/56/Stack_digit_9.png?version=22e5c748d1b1c8b07f24a1ec0c589e02" width="8" height="12"><img alt="Stack digit 9.png" src="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/5/56/Stack_digit_9.png?version=22e5c748d1b1c8b07f24a1ec0c589e02" width="8" height="12">
                    </span>
                  </td>
                </tr>
              </table>
            </div>
            <a href="/img/TemplateItem.png" title="Template:Item inventory icon"><img alt="Template:Item inventory icon" src="/img/TemplateItem.png" width="26" height="26" /></a>
          </td>
        </tr>
        <tr>
          <th colspan="2" style="color:#063b5e; padding:0em">Statistics</th>
        </tr>
        <tr>
          <td colspan="3" style="text-align:center">
            <span style="cursor:pointer" title="Pickaxe Power"><img alt="Pickaxe icon.png" src="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/0/05/Pickaxe_icon.png/16px-Pickaxe_icon.png?version=950a8a6b16937e9985e113be51233841" width="16" height="15" srcset="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/0/05/Pickaxe_icon.png/24px-Pickaxe_icon.png?version=950a8a6b16937e9985e113be51233841 1.5x, https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/0/05/Pickaxe_icon.png/32px-Pickaxe_icon.png?version=950a8a6b16937e9985e113be51233841 2x"> 100%</span>
            &nbsp;
            <span style="cursor:pointer" title="Hammer Power"><img alt="Hammer icon.png" src="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/5/57/Hammer_icon.png/16px-Hammer_icon.png?version=4b1a8bd4d4ad1a93a2055acef5c200c9" width="16" height="15" srcset="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/5/57/Hammer_icon.png/24px-Hammer_icon.png?version=4b1a8bd4d4ad1a93a2055acef5c200c9 1.5x, https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/5/57/Hammer_icon.png/32px-Hammer_icon.png?version=4b1a8bd4d4ad1a93a2055acef5c200c9 2x"> 100%</span>
            &nbsp;
            <span style="cursor:pointer" title="Axe Power"><img alt="Axe icon.png" src="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/2/23/Axe_icon.png/16px-Axe_icon.png?version=7479967477d3270e085e5675d75075b1" width="16" height="16" srcset="https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/2/23/Axe_icon.png/24px-Axe_icon.png?version=7479967477d3270e085e5675d75075b1 1.5x, https://d1u5p3l4wpay3k.cloudfront.net/terraria_gamepedia/thumb/2/23/Axe_icon.png/32px-Axe_icon.png?version=7479967477d3270e085e5675d75075b1 2x"> 100%</span>
          </td>
        </tr>
        <tr>
          <td style="width:100px"><b>Type</b></td>
          <td>Tool – Crafting Material</td>
        </tr>
        <tr>
          <td><b>Damage</b></td>
          <td> 100 <span style="font-size:80%"><b>(Magic)</b></span></td>
        </tr>
        <tr>
          <td><b><a href="https://terraria.gamepedia.com/Bait" title="Bait">Bait</a> Power:</b></td>
          <td> 25% </td>
        </tr>
        <tr>
          <td><b><a href="https://terraria.gamepedia.com/Knockback" title="Knockback">Knockback</a></b></td>
          <td> 5 <span style="font-size:80%"><b>(Average)</b></span></td>
        </tr>
        <tr>
          <td><b><a href="https://terraria.gamepedia.com/Use_time" title="Use time">Use time</a></b></td>
          <td> 25 <span style="font-size:80%"><b>(Fast)</b></span></td>
        </tr>
        <tr>
          <td><b><a href="https://terraria.gamepedia.com/Mining_speed" title="Mining speed">Tool speed</a></b></td>
          <td> 10 </td>
        </tr>
      </table>
      <p>test</p>
    </div>
  </div>
</body>
</html>